body{
	font-family:"Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana;
        background-color:#eff3f7;
}
a {
  	text-decoration: none;
  	color: #000;
}
a:link,a:visited {
        color: #585859;
}
a:hover {
	color: #8593a0;
}
#header {
        background-color:#f4f8fc;
	position: relative;
	background-image: url(images/header.jpg);
	background-repeat: no-repeat;
	margin-right: auto;
	margin-left: auto;
	width: 1100px;
	border: 1px solid #e7e7e7;
	padding-top: 110px;
	text-align: left;
}

#menu {
        position: relative;
        float: left;
	top: 5px;
	left: 5px;
	width: 180px;
}

#kotakjudulmenu{
	background: url(images/kiri_admin.png) repeat-x;
	margin: 0px;
	padding: 6px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
        border-bottom: none;
}

#kotakisimenu{
	padding: 0px;
	border: 1px solid #CCC;
	text-align: justify;
        font-weight:bold;        

}

.judulhead {
	font-size: 1.0em;
	font-variant:normal;
	color: #585859;
	font-weight:normal;
}

#content {
        position: relative;
        float: left;
	top: 5px;
	left: 10px;
	width: 905px;
}

#kotakjudulcontent{
	background: url(images/kanan_admin.png) repeat-x;
	margin: 0px;
	padding: 6px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
        border-bottom: none;
}

#kotakisicontent{
	padding: 4px;
	border: 1px solid #CCC;
	text-align: justify;

}

.garisbawah {
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCC;
}

ul{
	
	padding-left: 5px;
	padding-bottom: 5px;
}

li {
        padding-left: 15px;
        list-style: none;
        background: url(images/bullet.jpg) 0 5px no-repeat;
}

table {
	font-family: arial;
	font-size: 10pt;
	border-width: 1px;
	border-style: solid;
	border-color: #8896a3;
	border-collapse: collapse;
	margin: 10px 5px;
}
th{
	color: #444546;
	font-size: 9pt;
	text-transform: uppercase;
	text-align: center;
	padding: 0.5em;
	border-width: 1px;
	border-style: solid;
	border-color: #8896a3;
	border-collapse: collapse;
	background-color: #a2b0be;
}
td{
	padding: 0.5em;
	vertical-align: top;
	border-width: 1px;
	border-style: solid;
	border-color: #8896a3;
	border-collapse: collapse;
}
input,textarea,select{
	font-family: arial;
	font-size: 9pt;
}
#paging{
	font-family: arial;
	font-size: 10pt;
}
#footer{
        top: 12px;
        position: relative;
        clear :both;
	padding: 35px 0 5px 410px;
	font-size: 90%;
	color: #585859;
	background-color: #a2b0be;
        margin-bottom:11px;
     
}

/* ========================================
   Custom Button Colors - Warna Tombol Kustom
   ======================================== */

/* Tombol Ungu (Purple) */
.btn-purple {
    color: #fff;
    background-color: #9b59b6;
    border-color: #8e44ad;
}

.btn-purple:hover,
.btn-purple:focus {
    color: #fff;
    background-color: #8e44ad;
    border-color: #7d3c98;
}

/* Tombol Pink */
.btn-pink {
    color: #fff;
    background-color: #e91e63;
    border-color: #d81b60;
}

.btn-pink:hover,
.btn-pink:focus {
    color: #fff;
    background-color: #d81b60;
    border-color: #c2185b;
}

/* Tombol Hijau Tua (Dark Green) */
.btn-dark-green {
    color: #fff;
    background-color: #27ae60;
    border-color: #229954;
}

.btn-dark-green:hover,
.btn-dark-green:focus {
    color: #fff;
    background-color: #229954;
    border-color: #1e8449;
}

/* Tombol Orange */
.btn-orange {
    color: #fff;
    background-color: #e67e22;
    border-color: #d35400;
}

.btn-orange:hover,
.btn-orange:focus {
    color: #fff;
    background-color: #d35400;
    border-color: #ba4a00;
}

/* Tombol Coklat (Brown) */
.btn-brown {
    color: #fff;
    background-color: #795548;
    border-color: #6d4c41;
}

.btn-brown:hover,
.btn-brown:focus {
    color: #fff;
    background-color: #6d4c41;
    border-color: #5d4037;
}

/* Tombol Abu-abu Gelap (Dark Gray) */
.btn-dark {
    color: #fff;
    background-color: #34495e;
    border-color: #2c3e50;
}

.btn-dark:hover,
.btn-dark:focus {
    color: #fff;
    background-color: #2c3e50;
    border-color: #1a252f;
}

/* Tombol Biru Muda (Light Blue) */
.btn-light-blue {
    color: #fff;
    background-color: #3498db;
    border-color: #2980b9;
}

.btn-light-blue:hover,
.btn-light-blue:focus {
    color: #fff;
    background-color: #2980b9;
    border-color: #21618c;
}

/* Tombol Merah Maron (Maroon) */
.btn-maroon {
    color: #fff;
    background-color: #c0392b;
    border-color: #a93226;
}

.btn-maroon:hover,
.btn-maroon:focus {
    color: #fff;
    background-color: #a93226;
    border-color: #922b21;
}